@model CarSale.Models.CarModel

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="row">
        <div class="col-sm-8">
            <h1>Details</h1>

            <div>
                <h4>Car</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Make)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Make)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Model)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Model)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Year)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Year)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Color)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Color)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Engine)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Engine)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(car => car.Mileage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(car => car.Mileage)
                    </dd>
                    <dt class="col-sm-2">
                        Image
                    </dt>
                    <dd class="col-sm-2">
                        <img src="~/images/@Url.Content(Model.CarImage)"
                             width="120" alt="Car image"
                             asp-append-version="true" />
                    </dd>

                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <!-- <a asp-action="Index">Back to List</a>-->
                <a href='javascript:history.go(-1)'>Back to List</a>
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-secondary" style=" margin-left:20px;margin-top:150px; " onclick="location.href='@Url.Action("Create", "TestDrives")'"> Book a Test Drive >></button>

        </div>

        <div class="col-sm-3">
            <button class="btn btn-secondary" style=" margin-left:20px;margin-top:150px; " onclick="location.href='@Url.Action("Index", "TestDrives")'"> Booked Test Drive >></button>

        </div>
    </div>
    <div class="mt-5">
        <div style="margin-top:35px">
            <button style="float:left; margin-left:20px;background-color:#0e60e7;color:white;border-radius: 4px;border: none;  "> Search New Vehicles >></button>
            <button style="margin-left:30px;background-color:#0e60e7;color:white;border-radius: 4px;border: none;"> Search Used Vehicles >></button>
        </div>

    </div>
</body>
</html>