
@{
    ViewData["Title"] = "UsedCar";
}
@model IEnumerable<CarSale.Models.CarModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h1>Search Used Vehicles</h1>

    <!--<p>
        <a asp-action="Create">Create New</a>
    </p>  -->
    <div class="row">
        <div class="col-sm-4">
            <form asp-action="NewCar" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Go" class="btn btn-primary" />

                    </p>
                    <p><a asp-action="UsedCar">Back to Full List</a></p>
                </div>
            </form>
            <label> Make:</label>
            <ul class="list-unstyled ml-3">
                <li>Dodge (2)</li>
                <li>BMW (5)</li>
                <li>Honda (2)</li>
            </ul>
            <form asp-action="UsedCar" method="get" id="form3">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="from-year">Year:</label>
                        <input type="number" class="form-control" id="from-year" name="FromYear" placeholder="From" value="@ViewData["FromYear"]">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="to-year" style="color: white">To</label>
                        <input type="number" class="form-control" id="to-year" name="ToYear" placeholder="to" value="@ViewData["ToYear"]">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="from-price">Price:</label>
                        <input type="number" class="form-control" id="from-price" placeholder="From" name="FromPrice" value="@ViewData["FromPrice"]">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="to-price" style="color: white"> To</label>
                        <input type="number" class="form-control" id="to-price" name="ToPrice" placeholder="to" value="@ViewData["ToPrice"]">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="from-mileage">Mileage:</label>
                        <input type="number" class="form-control" id="from-mileage" placeholder="From" name="FromMileage" value="@ViewData["FromMileage"]">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="to-mileage" style="color: white"> To </label>
                        <input type="number" class="form-control" id="to-mileage" name="ToMileage" placeholder="to" value="@ViewData["ToMileage"]">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>


        </div>
        <div class="col-sm-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Make)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Engine)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mileage)
                        </th>
                        <th>
                            Image
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Engine)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mileage)
                            </td>
                            <td>
                                <img src="~/images/@item.CarImage"
                                     width="120"
                                     asp-append-version="true" />


                            </td>
                            <td>
                                <!--  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"> View </a>
                                <!--  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Above both column class names end with 6, which adds up to 12 -->

    </div>



</body>
</html>




